/* GENERAL */
/* COLORS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul {
  list-style: none; }

a {
  color: white;
  text-decoration: none; }

h1,
h2,
h3,
h4 {
  margin-bottom: 2rem;
  margin-top: 1rem;
  text-align: center; }

h2 {
  font-size: 4rem; }

P {
  padding: 0 1.5rem;
  line-height: 1.5; }

.btn {
  height: 2rem;
  width: 9rem;
  border-radius: 5px;
  text-align: center;
  line-height: 2.5rem; }

.btn-light {
  background: #9398b3;
  color: black;
  padding: 0.5rem 1rem; }

.btn-dark {
  background: #22313f;
  color: white;
  padding: 0.5rem 1rem; }

.btn-medium {
  background: #BD8089;
  color: white;
  padding: 0.5rem 1rem; }

html {
  scroll-behavior: smooth;
  overflow-x: hidden !important;
  font-size: 1.1rem !important; }

body {
  font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
  line-height: 1.6;
  overflow-x: hidden !important;
  color: #22313f; }

#hamburger {
  display: none; }

.container {
  width: 75%;
  margin: 0 auto; }

header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #22313f;
  color: #BE7682; }
  header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem; }
    header nav img.logo {
      width: 5rem;
      color: #BE7682; }
    header nav #nav-bar {
      z-index: 2;
      width: 100%;
      height: 100%;
      padding-left: 1rem;
      display: flex;
      justify-content: flex-end;
      align-items: flex-start; }
      header nav #nav-bar .menu-item {
        padding: 0.8rem 1.8rem;
        font-size: 1.2rem; }
        header nav #nav-bar .menu-item a {
          color: #BE7682; }
  header .animation-area {
    height: 100vh;
    width: 100%;
    overflow: hidden; }
    header .animation-area .boxes {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0; }
      header .animation-area .boxes .box {
        position: absolute;
        background: rgba(255, 255, 255, 0.1);
        animation: box-animation 22s linear infinite;
        transition: opacity 2s ease-in-out;
        opacity: 0;
        top: 50%; }

@keyframes box-animation {
  0% {
    transform: translateY(0) rotate(0);
    opacity: 0.3; }
  100% {
    transform: translateY(-800px) rotate(360deg);
    opacity: 1; } }
      header .animation-area .boxes .box:nth-child(1) {
        width: 75px;
        height: 75px;
        left: 5%;
        animation-delay: 1s;
        animation-duration: 8s; }
      header .animation-area .boxes .box:nth-child(2) {
        width: 100px;
        height: 100px;
        left: 15%;
        animation-delay: 2s;
        animation-duration: 15s;
        top: 90%; }
      header .animation-area .boxes .box:nth-child(3) {
        width: 30px;
        height: 30px;
        left: 30%;
        animation-delay: 0.5s;
        animation-duration: 8.5s; }
      header .animation-area .boxes .box:nth-child(4) {
        width: 60px;
        height: 60px;
        left: 45%;
        animation-delay: 3s;
        animation-duration: 14s; }
      header .animation-area .boxes .box:nth-child(5) {
        width: 120px;
        height: 120px;
        left: 65%;
        animation-delay: 1s;
        animation-duration: 10s;
        top: 90%; }
      header .animation-area .boxes .box:nth-child(6) {
        width: 25x;
        height: 25x;
        left: 70%;
        animation-delay: 0s;
        animation-duration: 15s; }
      header .animation-area .boxes .box:nth-child(7) {
        width: 40px;
        height: 40px;
        left: 90%;
        animation-delay: 2s;
        animation-duration: 8s;
        top: 90%; }

#intro {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 3rem; }
  #intro .intro-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    line-height: 4rem; }
    #intro .intro-content h1,
    #intro .intro-content p.lead {
      font-size: 1.3rem;
      margin: 0;
      color: white; }
    #intro .intro-content span {
      font-size: 2.5rem;
      color: #BE7682; }
    #intro .intro-content #view-work {
      z-index: 2;
      color: #BE7682;
      border: 3px solid #BE7682;
      padding: 0.5rem 0.8rem;
      margin-top: 1.5rem;
      line-height: normal;
      box-shadow: 2px 2px 3px #BD8089;
      font-size: 1.3rem;
      font-weight: bold;
      transition: 1s ease; }

/* ABOUT SECTION */
#about-section {
  background: #9398b3;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #about-section h2 {
    font-size: 2rem;
    color: #22313f;
    transform: translateY(70px);
    opacity: 0;
    transition: 2s ease-in-out; }
  #about-section p {
    transform: translateY(70px);
    opacity: 0;
    transition: 2s ease-in-out; }

/* PROJECTS SECTION */
#projects-section {
  padding-top: 8rem;
  background-color: #22424f;
  color: #9398b3; }
  #projects-section h2 {
    font-size: 2rem;
    color: #9398b3;
    margin-bottom: 5rem;
    transform: translateY(70px);
    opacity: 0;
    transition: 1s ease-out; }
  #projects-section .projects-wrapper {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 2rem; }
  #projects-section .project {
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
    text-align: center;
    transition: 1s ease-in-out;
    width: 100%; }
    #projects-section .project .img-wrapper {
      flex: 1; }
    #projects-section .project img {
      width: 100%;
      height: 100%; }
    #projects-section .project .about-project {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin-top: 1rem; }
      #projects-section .project .about-project p {
        width: 85%;
        text-align: left;
        font-size: 1.2rem;
        font-weight: 300; }
      #projects-section .project .about-project .tech {
        width: 85%;
        text-align: left;
        padding: 0 1rem;
        display: flex;
        margin: 1.2rem 0;
        color: #9398b3; }
        #projects-section .project .about-project .tech li {
          color: #22313f;
          background: #BD8089;
          font-size: 0.8rem;
          padding: 0.2rem 0.5rem;
          border-radius: 50px;
          margin-right: 0.5rem;
          letter-spacing: 0.08rem; }
      #projects-section .project .about-project a {
        align-self: flex-start;
        margin-top: 0.5rem;
        padding: 0.3rem 2rem;
        border-radius: 3px;
        color: #9398b3;
        margin-left: 3.5rem;
        width: 200px;
        background: #22313f;
        transition: 1s ease; }
        #projects-section .project .about-project a:hover {
          color: #BE7682; }
    #projects-section .project:nth-child(even) .about-project {
      order: 1; }
    #projects-section .project:nth-child(even) .img-wrapper {
      order: 2; }
    #projects-section .project:nth-child(even) {
      transform: translateX(15rem);
      opacity: 0; }
    #projects-section .project:nth-child(odd) {
      transform: translateX(-15rem);
      opacity: 0; }

/* FOOTER */
footer {
  width: 100%;
  height: 100vh;
  background-color: #22313f;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 3.5rem 0;
  font-size: 1.1rem; }
  footer .contact-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    footer .contact-intro #email {
      letter-spacing: 0.6px;
      text-align: left;
      margin-top: 1.5rem;
      border-bottom: 2px solid #22313f; }
  footer h2,
  footer p {
    color: #9398b3;
    padding: 0; }
  footer p {
    font-size: 1.3rem; }
  footer .contact-details {
    text-align: center;
    margin-top: 1rem; }
    footer .contact-details h3 {
      display: inline-block;
      margin-bottom: 1rem;
      letter-spacing: 0.5;
      color: #9398b3;
      font-size: 1.3rem;
      font-weight: bold;
      text-transform: capitalize; }
      footer .contact-details h3 i {
        font-size: 1.3rem; }
    footer .contact-details .social {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 0.5rem;
      font-size: 1.3rem; }
      footer .contact-details .social a {
        padding-right: 2rem; }
  footer i {
    color: #BE7682;
    font-size: 2rem;
    margin-right: 0.2rem; }

/* Animation */
.slideUp {
  transform: translateY(0px) !important;
  opacity: 1 !important; }

.slideCenter {
  transform: translateX(0rem) !important;
  opacity: 1 !important; }

/* Tablets */
@media (max-width: 768px) {
  html {
    font-size: 14px; }
  body {
    line-height: 1.5; }
  .container {
    width: 90%; }
  /* INTRO */
  #intro .intro-content h1 {
    font-size: 1.7rem; }
  /* PROJECTS SECTION */
  #projects-section {
    padding-top: 4rem; }
    #projects-section h2 {
      margin-bottom: 2rem; }
    #projects-section .projects-wrapper .project {
      position: relative; }
      #projects-section .projects-wrapper .project .about-project p {
        width: 90%;
        text-align: left; }
      #projects-section .projects-wrapper .project .about-project a {
        width: 150px;
        margin-top: 0.5rem;
        padding: 0.2rem 0.5rem;
        align-self: center;
        margin-left: 0; }
  /* FOOTER */
  #contact {
    height: 250px; } }

/* Mobile */
@media (max-width: 550px) {
  /* PROJECTS SECTION */
  #projects-section h2 {
    font-size: 1.3rem; }
  #projects-section .projects-wrapper .project {
    flex-direction: column;
    margin: 2rem 0; }
    #projects-section .projects-wrapper .project:nth-child(even) .about-project {
      order: 2; }
    #projects-section .projects-wrapper .project:nth-child(even) .img-wrapper {
      order: 1; } }
