/* GENERAL */
/* COLORS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul {
  list-style: none; }

a {
  color: white;
  text-decoration: none; }

h1,
h2,
h3,
h4 {
  margin-bottom: 2rem;
  margin-top: 1rem;
  text-align: center; }

h2 {
  font-size: 4rem; }

P {
  padding: 0 1.5rem;
  line-height: 1.5; }

.btn {
  height: 2rem;
  width: 9rem;
  border-radius: 5px;
  text-align: center;
  line-height: 2.5rem; }

.btn-light {
  background: #1826c4;
  color: black;
  padding: 0.5rem 1rem; }

.btn-dark {
  background: #1c1d25;
  color: white;
  padding: 0.5rem 1rem; }

.btn-medium {
  background: #c26e79;
  color: white;
  padding: 0.5rem 1rem; }

html {
  scroll-behavior: smooth;
  overflow-x: hidden !important;
  font-size: 1.1rem !important; }

body {
  font-family: "Balsamiq Sans", cursive;
  line-height: 1.6;
  overflow-x: hidden !important;
  color: #1c1d25; }

#hamburger {
  display: none; }

.container {
  width: 75%;
  margin: 0 auto; }

header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #1c1d25;
  color: coral; }
  header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem; }
    header nav img.logo {
      width: 5rem;
      color: #1c1d25; }
    header nav #nav-bar {
      z-index: 2;
      width: 100%;
      height: 100%;
      padding-left: 1rem;
      display: flex;
      justify-content: flex-end;
      align-items: flex-start; }
      header nav #nav-bar .menu-item {
        padding: 0.8rem 1.8rem; }
        header nav #nav-bar .menu-item a {
          font-size: 1.2rem; }
          header nav #nav-bar .menu-item a:hover {
            color: coral;
            transition: 0.5 ease-out; }
  header .animation-area {
    height: 100vh;
    width: 100%;
    overflow: hidden; }
    header .animation-area .boxes {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0; }
      header .animation-area .boxes .box {
        position: absolute;
        background: rgba(255, 255, 255, 0.1);
        animation: box-animation 22s linear infinite;
        transition: opacity 2s ease-in-out;
        opacity: 0;
        top: 50%; }

@keyframes box-animation {
  0% {
    transform: translateY(0) rotate(0);
    opacity: 0.3; }
  100% {
    transform: translateY(-800px) rotate(360deg);
    opacity: 1; } }
      header .animation-area .boxes .box:nth-child(1) {
        width: 75px;
        height: 75px;
        left: 5%;
        animation-delay: 1s;
        animation-duration: 8s; }
      header .animation-area .boxes .box:nth-child(2) {
        width: 100px;
        height: 100px;
        left: 15%;
        animation-delay: 2s;
        animation-duration: 15s;
        top: 90%; }
      header .animation-area .boxes .box:nth-child(3) {
        width: 30px;
        height: 30px;
        left: 30%;
        animation-delay: 0.5s;
        animation-duration: 8.5s; }
      header .animation-area .boxes .box:nth-child(4) {
        width: 60px;
        height: 60px;
        left: 45%;
        animation-delay: 3s;
        animation-duration: 14s; }
      header .animation-area .boxes .box:nth-child(5) {
        width: 120px;
        height: 120px;
        left: 65%;
        animation-delay: 1s;
        animation-duration: 10s;
        top: 90%; }
      header .animation-area .boxes .box:nth-child(6) {
        width: 25x;
        height: 25x;
        left: 70%;
        animation-delay: 0s;
        animation-duration: 15s; }
      header .animation-area .boxes .box:nth-child(7) {
        width: 40px;
        height: 40px;
        left: 90%;
        animation-delay: 2s;
        animation-duration: 8s;
        top: 90%; }

#intro {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 3rem; }
  #intro .intro-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    line-height: 4rem; }
    #intro .intro-content h1,
    #intro .intro-content p.lead {
      font-size: 1.3rem;
      margin: 0;
      color: white; }
    #intro .intro-content span {
      font-size: 2.5rem;
      color: coral; }
    #intro .intro-content #view-work {
      z-index: 1;
      color: coral;
      border: 3px solid coral;
      padding: 0.5rem 0.8rem;
      margin-top: 1.5rem;
      line-height: normal;
      box-shadow: 2px 2px 3px #c26e79;
      font-size: 1.3rem;
      font-weight: bold;
      transition: 1s ease-out; }
      #intro .intro-content #view-work:hover {
        background: #272834;
        color: #ff6c37; }

/* ABOUT SECTION */
#about-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #about-section h2 {
    font-size: 2rem;
    color: coral;
    transform: translateY(70px);
    opacity: 0;
    transition: 2s ease-in-out; }
  #about-section p {
    transform: translateY(70px);
    opacity: 0;
    transition: 2s ease-in-out;
    font-size: 1.5rem;
    padding: 0 2rem; }
    #about-section p span {
      color: coral; }

/* PROJECTS SECTION */
#projects-section {
  padding-top: 8rem; }
  #projects-section h2 {
    font-size: 2rem;
    color: coral;
    margin-bottom: 5rem;
    transform: translateY(70px);
    opacity: 0;
    transition: 1s ease-out; }
  #projects-section .projects-wrapper {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 2rem; }
  #projects-section .project {
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
    text-align: center;
    transition: 1s ease-in-out;
    width: 100%; }
    #projects-section .project .img-wrapper {
      flex: 1; }
    #projects-section .project img {
      width: 100%;
      height: 100%; }
    #projects-section .project .about-project {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin-top: 1rem; }
      #projects-section .project .about-project p {
        width: 85%;
        text-align: left;
        font-size: 1.2rem;
        font-weight: 300; }
      #projects-section .project .about-project .tech {
        width: 85%;
        text-align: left;
        padding: 0 1rem;
        display: flex;
        flex-wrap: wrap;
        margin: 1.2rem 0; }
        #projects-section .project .about-project .tech li {
          background: coral;
          font-size: 0.8rem;
          padding: 0.2rem 0.5rem;
          border-radius: 50px;
          margin-right: 0.5rem;
          margin-bottom: 0.5rem;
          letter-spacing: 0.08rem; }
      #projects-section .project .about-project a {
        align-self: flex-start;
        margin-top: 0.5rem;
        padding: 0.3rem 2rem;
        border-radius: 3px;
        margin-left: 3.5rem;
        width: 200px;
        background: coral;
        transition: 1s ease; }
        #projects-section .project .about-project a:hover {
          color: #1c1d25; }
    #projects-section .project:nth-child(even) .about-project {
      order: 1; }
    #projects-section .project:nth-child(even) .img-wrapper {
      order: 2; }
    #projects-section .project:nth-child(even) {
      transform: translateX(15rem);
      opacity: 0; }
    #projects-section .project:nth-child(odd) {
      transform: translateX(-15rem);
      opacity: 0; }

/* FOOTER */
footer {
  width: 100%;
  min-height: 100vh;
  background-color: #1c1d25;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 3.5rem 0;
  font-size: 1.1rem; }
  footer .contact-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    footer .contact-intro #email {
      letter-spacing: 0.6px;
      text-align: left;
      margin-top: 1.5rem;
      border-bottom: 2px solid coral;
      font-size: 1.2rem; }
      footer .contact-intro #email i {
        font-size: 1.2rem; }
  footer h2 {
    color: coral; }
  footer p {
    padding: 0;
    color: white;
    font-size: 1.3rem; }
  footer .contact-details {
    text-align: center;
    margin-top: 1rem; }
    footer .contact-details h3 {
      display: inline-block;
      margin-bottom: 1rem;
      letter-spacing: 0.5;
      color: white;
      font-size: 1.3rem;
      font-weight: bold;
      text-transform: capitalize; }
      footer .contact-details h3 i {
        font-size: 1.2rem;
        color: white; }
    footer .contact-details .social {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 0.5rem;
      font-size: 1.3rem; }
      footer .contact-details .social a {
        padding-right: 2rem; }
        footer .contact-details .social a:hover {
          color: coral; }
      footer .contact-details .social i {
        font-size: 2rem;
        margin-right: 0.2rem; }

/* Animation */
.slideUp {
  transform: translateY(0px) !important;
  opacity: 1 !important; }

.slideCenter {
  transform: translateX(0rem) !important;
  opacity: 1 !important; }

/* Tablets */
@media (max-width: 768px) {
  html {
    font-size: 15px !important; }
  body {
    line-height: 1.5; }
  .container {
    width: 90%; }
  /* Hamburger */
  #hamburger {
    position: fixed;
    right: 0;
    height: 40px;
    width: 40px;
    padding: 8px;
    background: #1c1d25;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 5 !important;
    transition: 0.4s ease-in-out; }
  #hamburger div {
    width: 90%;
    display: block;
    height: 3px;
    border-radius: 5px;
    background: #fffefefb; }
  #hamburger .line_1,
  #hamburger .line_3 {
    transition: 0.5s ease-in-out; }
  /* Hamburger Animation */
  #hamburger.opened {
    transform: rotate(180deg); }
  #hamburger.opened div {
    position: absolute;
    width: 70%; }
  #hamburger.opened .line_1 {
    transform: rotate(45deg); }
  #hamburger.opened .line_2 {
    display: none; }
  #hamburger.opened .line_3 {
    transform: rotate(-45deg); }
  /* Navigation */
  #nav-bar {
    position: fixed !important;
    height: 300%;
    width: 300%;
    visibility: hidden;
    display: flex;
    top: 0;
    left: 0;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column;
    transform: scale(0.1);
    transition: transform 0.4s ease-in;
    background: none; }
  #nav-bar .menu-item {
    opacity: 0;
    transition: 0.5 ease;
    transition-delay: 0.2s;
    font-size: 2rem; }
  #nav-bar .menu-item .active {
    color: #437f97; }
  #nav-bar.show-menu .menu-item {
    opacity: 1;
    font-size: 2rem; }
  .show-menu {
    visibility: visible !important;
    transform: scale(1) !important;
    opacity: 1 !important; }
  #nav-bar.show-menu::before {
    content: '';
    position: absolute;
    height: 300px;
    width: 300px;
    background: black;
    border-radius: 50%;
    opacity: 90%;
    z-index: -1;
    transform: scale(5); }
  /* /////// */
  /* INTRO */
  #intro .intro-content {
    padding-bottom: 4rem; }
    #intro .intro-content h1 {
      font-size: 1.7rem; }
    #intro .intro-content #view-work {
      font-size: 1.1rem; }
  /* PROJECTS SECTION */
  #projects-section {
    padding-top: 4rem; }
    #projects-section h2 {
      margin-bottom: 2rem; }
    #projects-section .projects-wrapper .project {
      position: relative; }
      #projects-section .projects-wrapper .project .about-project p {
        width: 90%;
        text-align: left; }
      #projects-section .projects-wrapper .project .about-project a {
        width: 150px;
        margin-top: 0.5rem;
        padding: 0.2rem 0.5rem;
        align-self: center;
        margin-left: 0; }
  /* FOOTER */
  footer h2 {
    font-size: 2rem; }
  footer p {
    font-size: 1rem; } }

/* Mobile */
@media (max-width: 550px) {
  #intro .intro-content h1,
  #intro .intro-content p.lead {
    font-size: 1.1rem;
    margin: 0;
    color: white; }
  #intro .intro-content p {
    padding: 0; }
  #intro .intro-content span {
    font-size: 2rem; }
  /* PROJECTS SECTION */
  #projects-section h2 {
    font-size: 1.6rem; }
  #projects-section .projects-wrapper .project {
    flex-direction: column;
    margin: 2rem 0; }
    #projects-section .projects-wrapper .project:nth-child(even) .about-project {
      order: 2; }
    #projects-section .projects-wrapper .project:nth-child(even) .img-wrapper {
      order: 1; }
  /* Footer */
  footer h2 {
    font-size: 1.6rem; }
  footer .container {
    width: 85%; }
  footer .contact-intro p {
    color: white; }
  footer .contact-intro #email {
    font-size: 1rem; }
  footer .contact-details {
    margin-top: 4rem; }
    footer .contact-details .social {
      justify-content: space-around; }
      footer .contact-details .social a {
        font-size: 1rem;
        padding-right: 0; }
        footer .contact-details .social a i {
          display: inherit;
          font-size: 1.5rem;
          padding-bottom: 0.5rem; } }
