@import "config";

html {
	scroll-behavior: smooth;
	overflow-x: hidden !important;
	font-size: 1.1rem !important;
}

body {
	font-family: "Balsamiq Sans", cursive;
	line-height: 1.6;
	overflow-x: hidden !important;
	color: $dark-color;
}

#hamburger {
	display: none;
}

.container {
	width: 75%;
	margin: 0 auto;
}

header {
	//background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: $dark-color;
	color: $primary-color;

	nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 2rem;

		img.logo {
			width: 5rem;
			color: $secondary-color;
		}

		#nav-bar {
			z-index: 2;
			width: 100%;
			height: 100%;
			padding-left: 1rem;
			display: flex;
			justify-content: flex-end;
			align-items: flex-start;

			.menu-item {
				padding: 0.8rem 1.8rem;

				a {
					font-size: 1.2rem;
					&:hover {
						color: $primary-color;
						transition: 0.5 ease-out;
					}
				}
			}
		}
	}

	.animation-area {
		height: 100vh;
		width: 100%;
		overflow: hidden;

		.boxes {
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;

			.box {
				position: absolute;
				background: rgba(255, 255, 255, 0.1);
				animation: box-animation 22s linear infinite;
				transition: opacity 2s ease-in-out;
				opacity: 0;
				top: 50%;
			}

			@keyframes box-animation {
				0% {
					transform: translateY(0) rotate(0);
					opacity: 0.3;
				}

				100% {
					transform: translateY(-800px) rotate(360deg);
					opacity: 1;
				}
			}

			.box:nth-child(1) {
				width: 75px;
				height: 75px;
				left: 5%;
				animation-delay: 1s;
				animation-duration: 8s;
			}

			.box:nth-child(2) {
				width: 100px;
				height: 100px;
				left: 15%;
				animation-delay: 2s;
				animation-duration: 15s;
				top: 90%;
			}

			.box:nth-child(3) {
				width: 30px;
				height: 30px;
				left: 30%;
				animation-delay: 0.5s;
				animation-duration: 8.5s;
			}

			.box:nth-child(4) {
				width: 60px;
				height: 60px;
				left: 45%;
				animation-delay: 3s;
				animation-duration: 14s;
			}

			.box:nth-child(5) {
				width: 120px;
				height: 120px;
				left: 65%;
				animation-delay: 1s;
				animation-duration: 10s;
				top: 90%;
			}

			.box:nth-child(6) {
				width: 25x;
				height: 25x;
				left: 70%;
				animation-delay: 0s;
				animation-duration: 15s;
			}

			.box:nth-child(7) {
				width: 40px;
				height: 40px;
				left: 90%;
				animation-delay: 2s;
				animation-duration: 8s;
				top: 90%;
			}
		}
	}
}

#intro {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: absolute;
	top: 3rem;

	.intro-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-transform: capitalize;
		line-height: 4rem;

		h1,
		p.lead {
			font-size: 1.3rem;
			margin: 0;
			color: white;
		}

		span {
			font-size: 2.5rem;
			color: $primary-color;
		}

		#view-work {
			z-index: 1;
			color: $primary-color;
			border: 3px solid $primary-color;
			padding: 0.5rem 0.8rem;
			margin-top: 1.5rem;
			line-height: normal;
			box-shadow: 2px 2px 3px $medium-color;
			font-size: 1.3rem;
			font-weight: bold;
			transition: 1s ease-out;

			&:hover {
				background: lighten($secondary-color, 5%);
				color: darken($primary-color, 5%);
			}
		}
	}
}

/* ABOUT SECTION */
#about-section {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	h2 {
		font-size: 2rem;
		color: $primary-color;
		// animation -> slideUP
		transform: translateY(70px);
		opacity: 0;
		transition: 2s ease-in-out;
	}

	p {
		// animation -> slideUP
		transform: translateY(70px);
		opacity: 0;
		transition: 2s ease-in-out;
		font-size: 1.5rem;
		padding: 0 2rem;

		span {
			color: $primary-color;
		}
	}
}

/* PROJECTS SECTION */

#projects-section {
	padding-top: 8rem;

	h2 {
		font-size: 2rem;
		color: $primary-color;
		margin-bottom: 5rem;
		// animation -> slideUP
		transform: translateY(70px);
		opacity: 0;
		transition: 1s ease-out;
	}

	.projects-wrapper {
		display: flex;
		justify-content: space-around;
		flex-direction: column;
		margin-top: 2rem;
	}

	.project {
		display: flex;
		text-align: center;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 3rem;
		text-align: center;
		transition: 1s ease-in-out;
		width: 100%;

		.img-wrapper {
			flex: 1;
		}

		img {
			width: 100%;
			height: 100%;
		}

		.about-project {
			flex: 1;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			margin-top: 1rem;

			p {
				width: 85%;
				text-align: left;
				font-size: 1.2rem;
				font-weight: 300;
			}

			.tech {
				width: 85%;
				text-align: left;
				padding: 0 1rem;
				display: flex;
				flex-wrap: wrap;

				margin: 1.2rem 0;

				li {
					background: $primary-color;
					font-size: 0.8rem;
					padding: 0.2rem 0.5rem;
					border-radius: 50px;
					margin-right: 0.5rem;
					margin-bottom: 0.5rem;
					letter-spacing: 0.08rem;
				}
			}

			a {
				align-self: flex-start;
				margin-top: 0.5rem;
				padding: 0.3rem 2rem;
				border-radius: 3px;
				margin-left: 3.5rem;
				width: 200px;
				background: $primary-color;
				transition: 1s ease;

				&:hover {
					color: $secondary-color;
				}
			}
		}

		&:nth-child(even) {
			.about-project {
				order: 1;
			}

			.img-wrapper {
				order: 2;
			}
		}

		//projects animation -> slideCenter
		&:nth-child(even) {
			transform: translateX(15rem);
			opacity: 0;
		}

		&:nth-child(odd) {
			transform: translateX(-15rem);
			opacity: 0;
		}
	}
}

/* FOOTER */

footer {
	width: 100%;
	min-height: 100vh;
	background-color: $dark-color;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	padding: 3.5rem 0;
	font-size: 1.1rem;

	.contact-intro {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		#email {
			letter-spacing: 0.6px;
			text-align: left;
			margin-top: 1.5rem;
			border-bottom: 2px solid $primary-color;
			font-size: 1.2rem;

			i {
				font-size: 1.2rem;
			}
		}
	}

	h2 {
		color: $primary-color;
	}
	p {
		padding: 0;
		color: white;
		font-size: 1.3rem;
	}

	.contact-details {
		text-align: center;
		margin-top: 1rem;

		h3 {
			display: inline-block;
			margin-bottom: 1rem;
			letter-spacing: 0.5;
			color: white;
			font-size: 1.3rem;
			font-weight: bold;
			text-transform: capitalize;

			i {
				font-size: 1.2rem;
				color: white;
			}
		}

		.social {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: 0.5rem;
			font-size: 1.3rem;

			a {
				padding-right: 2rem;
				&:hover {
					color: $primary-color;
				}
			}

			i {
				font-size: 2rem;
				margin-right: 0.2rem;
			}
		}
	}
}

/* Animation */

.slideUp {
	transform: translateY(0px) !important;
	opacity: 1 !important;
}

.slideCenter {
	transform: translateX(0rem) !important;
	opacity: 1 !important;
}

a.scroll-to-top {
	position: fixed;
	right: 3rem;
	bottom: 1rem;

	i {
		color: $primary-color;
		font-size: 2rem;
	}
}

@import "media";
